@import '~src/scss/variables';

$menuBreakpoint: 800px;
$menuWidth: 200px;

.header {
  align-items: center;
  background: rgb(43,43,43);
  display: flex;
  height: $headerHeight;
  padding: 10px 20px;
  width: 100%;

  &__links {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;

    @media screen and (max-width: #{$menuBreakpoint - 1}) {
      display: none;
    }
  }
  
  &__linkWrapper {
    list-style-type: none;
    text-transform: uppercase;
  }

  &__link {
    color: white;
    text-decoration: none;
    transition: $standardTransition;

    &:hover {
      color: $textBlue;
    }

    &--active {
      color: $textBlue;
    }
  }

  &__menuTrigger {
  }

  &__menu {
    background: rgb(240,240,240);
    box-shadow: 10px 0 20px 0 rgba(0,0,0,0.4);
    height: calc(100% - #{$headerHeight});
    left: 0;
    padding: 20px 0;
    position: absolute;
    top: $headerHeight;
    width: $menuWidth;
    z-index: 1;

    &__links {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }

    &__linkWrapper {
      list-style-type: none;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    &__link {
      color: black;
      text-decoration: none;
      transition: $standardTransition;
  
      &:hover {
        color: $textBlue;
      }

      &--active {
        color: $textBlue;
      }
    }
  }

  &__menuShield {
    background: transparent;
    height: calc(100% - #{$headerHeight});
    left: 100%;
    position: absolute;
    top: $headerHeight;
    transition: $standardTransition;
    width: 0;
    z-index: 1;
    
    &--active {
      background: rgba(0,0,0,0.2);
      left: $menuWidth;
      width: calc(100% - #{$menuWidth});
    }
  }

  @media screen and (min-width: $menuBreakpoint) {
    &__menuTrigger,
    &__menu,
    &__menuShield {
      display: none;
    }
  }
}
