<header class="header">
  <ul class="header__links">
    <li
      *ngFor="let link of links"
      class="header__linkWrapper">
      <a
        (click)="hideMenu()"
        [routerLink]="link.path"
        routerLinkActive="header__link--active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="header__link">
        {{ link.text }}
      </a>
    </li>
  </ul>
  <app-menu-trigger
    (click)="toggleMenu()"
    [isMenuOpen]="isMenuOpen"
    class="header__menuTrigger">
  </app-menu-trigger>
  <div
    [@slide]="isMenuOpen ? 'open' : 'closed'"
    class="header__menu">
    <ul class="header__menu__links">
        <li
          *ngFor="let link of links"
          class="header__menu__linkWrapper">
          <a
            (click)="hideMenu()"
            [routerLink]="link.path"
            routerLinkActive="header__menu__link--active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="header__menu__link">
            {{ link.text }}
          </a>
        </li>
      </ul>
  </div>
  <div
    (click)="hideMenu()"
    class="header__menuShield"
    [class.header__menuShield--active]="isMenuOpen">
  </div>
</header>
