@import '~src/scss/mixins';
@import '~src/scss/variables';

.footer {
  @include roboto;
  height: $footerHeight;
  text-align: center;
  width: 100%;

  &__divider {
    border-color: black;
    margin: 0 5%;
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    margin: 20px auto 0;
    width: 160px;
  }

  &__icon {
    color: white;
    text-decoration: none;
    transition: $standardTransition;

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.25;
    }
  }

  &__copyright {
    margin: 10px 0;
  }
}
