@import '~src/scss/variables';

$iconWidth: 30px;

:host {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel {
  display: block;
  height: 350px;
  overflow: hidden;

  &__items {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 400%; // TODO make it so we don't need this
  }

  &__item {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;

    &__image {
      display: block !important;
      height: 100%;
      pointer-events: none;
      user-select: none;
      width: auto;
    }

    &__text {
      bottom: 40px;
      position: absolute;
      text-align: center;
      user-select: none;
      width: 100%;

      span {
        background: rgba(0,0,0,0.4);
        border-radius: 10px;
        color: white;
        font-size: 30px;
        padding: 3px 10px;
        transition: $standardTransition;

        &:hover {
          background: rgba(0,0,0,0.6);
        }
      }
    }
  }

  &__arrowWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 0;

    &:hover {
      cursor: pointer;
    }

    &:hover .carousel__arrow {
      fill: rgba(255,255,255,0.8);
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__arrow {
    background: rgba(0,0,0,0.2);
    border-radius: $iconWidth / 2;
    fill: rgba(255,255,255,0.6);
    height: $iconWidth;
    transition: $standardTransition;
    width: $iconWidth;
  }
}
