<div class="carousel">
  <ul
    class="carousel__items"
    [@slide]="currentItemIndex">
    <li
      *ngFor="let item of items"
      class="carousel__item">
      <img
        [src]="item.src"
        [alt]="item.text"
        class="carousel__item__image">
      <div class="carousel__item__text">
        <span>{{ item.text }}</span>
      </div>
    </li>
  </ul>
  <app-dots
    [length]="items.length"
    [activeDotIndex]="currentItemIndex"
    (select)="goToSlide($event)">
  </app-dots>
  <div class="carousel__arrowWrapper carousel__arrowWrapper--left">
    <svg
      class="carousel__arrow"
      (click)="prev()"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
      <path d="M0-.5h24v24H0z" fill="none"/>
    </svg>
  </div>
  <div class="carousel__arrowWrapper carousel__arrowWrapper--right">
    <svg
      class="carousel__arrow"
      (click)="next()"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
      <path d="M0-.25h24v24H0z" fill="none"/>
    </svg>
</div>
