<div class="app">
  <header class="header">
    <ul class="header__links">
      <li
        *ngFor="let link of links"
        class="header__linkWrapper">
        <a
          [routerLink]="link.path"
          routerLinkActive="header__link--active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="header__link">
          {{ link.text }}
        </a>
      </li>
    </ul>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <hr class="footer__divider">
    <div class="footer__icons">
      <a
        *ngFor="let iconLink of iconLinks"
        [href]="iconLink.href"
        target="_blank"
        rel="noopener noreferrer"
        class="footer__icon">
        <img [src]="iconLink.icon">
      </a>
    </div>
    <p class="footer__copyright">RyanD, Inc. © 2018</p>
  </footer>
</div>
