$textBlue: rgb(0, 204, 255);
$headerHeight: 50px;
$footerHeight: 100px;

.app {
  height: 100vh;
}

.header {
  background: rgb(43,43,43);
  height: $headerHeight;
  padding: 10px 20px;
  width: 100%;

  &__links {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  &__linkWrapper {
    list-style-type: none;
    text-transform: uppercase;
  }

  &__link {
    color: white;
    text-decoration: none;
    transition: all ease-in-out 0.35s;

    &:hover {
      color: $textBlue;
    }

    &--active {
      color: $textBlue;
    }
  }
}

.content {
  height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  overflow: auto;
  padding: 0 100px;

  @media screen and (max-width: 600px) {
    padding: 0 20px;
  }
}

.footer {
  height: $footerHeight;
  text-align: center;
  width: 100%;

  &__divider {
    border-color: black;
    margin: 0 5%;
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    margin: 20px auto 0;
    width: 160px;
  }

  &__icon {
    color: white;
    text-decoration: none;
    transition: all ease-in-out .5s;
  }

  &__copyright {
    margin: 10px 0;
  }
}
