@import '~src/scss/variables';

.app {
  height: 100vh;
}

.content {
  height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  overflow: auto;
  padding: 30px 100px;

  @media screen and (max-width: 600px) {
    padding: 0 20px;
  }
}

.footer {
  height: $footerHeight;
  text-align: center;
  width: 100%;

  &__divider {
    border-color: black;
    margin: 0 5%;
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    margin: 20px auto 0;
    width: 160px;
  }

  &__icon {
    color: white;
    text-decoration: none;
    transition: $standardTransition;
  }

  &__copyright {
    margin: 10px 0;
  }
}
