<div class="app">
  <header class="header">
    <ul class="header__links">
      <li
        *ngFor="let link of links"
        class="header__linkWrapper">
        <a
          [routerLink]="link.path"
          routerLinkActive="header__link--active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="header__link">
          {{ link.text }}
        </a>
      </li>
    </ul>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <hr class="footer__divider">
    <ul class="footer__icons">
      <a href="https://www.linkedin.com/in/ryandriggett/" class="footer__icon">
        <img src="assets/icons/linkedin.svg">
      </a>
      <a href="https://www.facebook.com/rdrigg" class="footer__icon">
        <img src="assets/icons/facebook.svg">
      </a>
      <a href="https://www.instagram.com/rdriggett/?hl=en" class="footer__icon">
        <img src="assets/icons/instagram.svg">
      </a>
    </ul>
    <p class="footer__copyright">RyanD, Inc. © 2018</p>
  </footer>
</div>
