<div class="services">
  <h2 class="services__title">
    Services
  </h2>

  <app-carousel [items]="carouselItems"></app-carousel>

  <p class="services__text">
    Thanks in part to my many years of experience, I have become able to complete a large multitude of tasks that the community needs me to do. I always seek the meaning of doing the right thing so I could live with myself.
  </p>
  <p class="services__text">
    Personally, service means a great deal to me; I am almost an eagle scout, and once slaved away for 100 hours without rest as I single handedly erected a homeless shelter for the vagrants of Sunnyvale. I'm not saying I deserve a medal of honor but dang, a medal of honor would be really nice in this situation now wouldn't it. Yeah no, that was definitely not done by a close friend of mine, I did that.
  </p>
</div>
