// font imports
@import url(https://fonts.googleapis.com/css?family=Roboto);

// global styles/resets
* {
  box-sizing: border-box;
}

body {
  background: rgb(38,215,255);
  margin: 0;
  padding: 0;
}
