@import '~src/scss/variables';

:host {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.home {
  background: white;
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px rgb(37,37,37);
  font-size: 35px; // TODO scalable
  text-align: center;
  transition: $standardTransition;
  width: 600px;

  &:hover {
    box-shadow: 0 12px 10px -6px rgb(37,37,37);
  }

  &__title {
    font-family: 'Roboto', sans-serif;
  }

  &__links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    padding: 0 100px;
  }

  &__linkWrapper {
  }
  
  &__link {
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-transform: capitalize;
    transition: $standardTransition;

    &:hover {
      color: rgb(0,204,255);
    }
  }
}
